<div class="modal">
    <div class="modal__content modal__content--contact">
        <button class="model__close" type="button">
            <img src="../assets/images/close.svg" alt="Закрыть">
        </button>

        <form class="form" action="/" method="post">

            <div class="form__group form__group--md">
                <input type="text" class="form__control" placeholder="Вашe имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" name=""
                    placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>

        </form>

        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:leap74rus@gmail.com">leap74rus@gmail.com</a>
            </li>
            <li>
                тел: <a href="tel:94323285622">+943-232-856-22</a>
            </li>
        </ul>
    </div>
</div>